body {

    background: url('https://plus.unsplash.com/premium_photo-1675873580149-af5291b17456?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') bottom no-repeat;
    background-size: cover;
    background-color: #d0d1d3;
    background-position: center center;

}